body {
    display: flex;
    font-size: 120%;
    gap: 1rem;
    font-family: sans;
    margin: 1rem;
}

#debug {
    display: none;
}

h1,
h2,
#title_container {
    margin-bottom: 2rem;
}

h3 {
    margin-top: 1em;
}

h2 {
    display: inline;
}

#subtitle {
    font-size: 50%;
    font-weight: normal;
}

p,
#description {
    margin-bottom: 1em;
}

#content {
    max-width: 30em;
}

#screen_container {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

#screen {
    white-space: pre;
    font: 16px monospace;
    line-height: 110%;
    transform: scale(1);
}

#buttons {
    margin: 0.5rem;
    font-size: 60%;
}

#output {
    height: 20rem;
}
